<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160401004-CoreAnimation-CAAnimationGroup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5B4517A1CAE60B800713157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B451931CAE60B800713157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B4519E1CAE60B800713157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
